In [3]:
import pandas as pd
import psycopg2

In [4]:
def get_connection():
    conn=psycopg2.connect(database="stockanalysis",
        user='aryanpatel',
        password="12345",
        host="localhost",
        port="5432")
    return conn

In [6]:
def read_data():
    conn=get_connection()
    try:
        query = 'SELECT * FROM "UPL"."candle_1m";'
        with conn.cursor() as cur:
            cur.execute(query)
            rows=cur.fetchall()
            coloumns=[desc[0] for desc in cur.description]
            df=pd.DataFrame(rows,columns=coloumns)
        return df
    
    except Exception as e:
        print("Error while fetching data:", e)
        return None
    finally:
        conn.close()
        
df=read_data()
if df is not None:
    print(df.head(10))
else:
    print("No data")

   id    open    high     low   close    volume   epochtime
0   1  548.95  548.95  546.00  546.65   30673.0  1737949500
1   2  546.35  546.60  545.00  545.50   54783.0  1737949560
2   3  544.90  545.30  544.60  545.10   98434.0  1737949620
3   4  545.15  546.55  545.15  546.35  105281.0  1737949680
4   5  545.80  547.20  545.80  546.50  118454.0  1737949740
5   6  546.65  546.75  545.65  546.35  125151.0  1737949800
6   7  546.40  546.40  545.45  545.85  131785.0  1737949860
7   8  546.10  547.35  546.00  546.85  136827.0  1737949920
8   9  546.70  547.30  545.95  545.95  143057.0  1737949980
9  10  545.85  546.00  545.35  545.80  155606.0  1737950040

In [7]:
df['high']

0        548.95
1        546.60
2        545.30
3        546.55
4        547.20
          ...
23245    669.95
23246    670.70
23247    670.60
23248    669.65
23249    671.00
Name: high, Length: 23250, dtype: float64

In [10]:
df.groupby("open")["high"].mean()

open
536.15    537.60
536.55    536.80
536.75    537.45
536.80    537.15
536.95    537.70
           ...
687.75    689.45
687.85    687.95
687.95    688.70
688.70    688.70
690.25    690.65
Name: high, Length: 2358, dtype: float64

In [12]:
df.describe()

,id,open,high,low,close,volume,epochtime
count,23250.000000,23249.000000,23250.000000,23250.000000,23250.000000,2.325000e+04,2.325000e+04
mean,12012.612903,632.508203,632.860594,632.147908,632.509516,1.351365e+06,1.741693e+09
std,7870.138740,29.961309,29.945810,29.974635,29.956268,1.292983e+06,2.375203e+06
min,1.000000,536.150000,536.800000,536.100000,536.250000,6.901000e+03,1.737950e+09
25%,5813.250000,617.500000,617.900000,617.000000,617.450000,6.643285e+05,1.739516e+09
50%,11625.500000,636.850000,637.175000,636.550000,636.850000,1.090981e+06,1.741633e+09
75%,17437.750000,651.950000,652.250000,651.650000,651.950000,1.650695e+06,1.743663e+09
max,45751.000000,690.250000,690.650000,687.950000,689.400000,1.271226e+07,1.745921e+09

In [13]:
df.corr(numeric_only=True)

,id,open,high,low,close,volume,epochtime
id,1.000000,0.626872,0.626742,0.627069,0.626956,-0.197694,0.938767
open,0.626872,1.000000,0.999862,0.999866,0.999764,-0.023956,0.647596
high,0.626742,0.999862,1.000000,0.999758,0.999881,-0.023895,0.647537
low,0.627069,0.999866,0.999758,1.000000,0.999860,-0.024083,0.647706
close,0.626956,0.999764,0.999881,0.999860,1.000000,-0.023990,0.647728
volume,-0.197694,-0.023956,-0.023895,-0.024083,-0.023990,1.000000,-0.206248
epochtime,0.938767,0.647596,0.647537,0.647706,0.647728,-0.206248,1.000000

In [18]:
df.columns

Index(['id', 'open', 'high', 'low', 'close', 'volume', 'epochtime'], dtype='object')

In [19]:
df["open"].value_counts()

open
644.95    73
645.00    68
625.00    50
646.00    43
615.00    43
          ..
568.60     1
548.45     1
570.25     1
574.80     1
551.20     1
Name: count, Length: 2358, dtype: int64