In [2]:
# loc : label based selection
#Used to access rows/columns by label (index name or column name).

In [4]:
#.iloc : index based selection
#used to access rows/column by integer index

In [5]:
import pandas as pd

In [6]:
df_missing = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [25, 30, None, 22, 28],
    'Score': [85, 90, None, 88, 95]
})

In [9]:
mean_age=df_missing['Age'].mean()

In [14]:
df_missing.groupby('Name')['Age'].agg(['sum','mean'])

          sum  mean
Name
Alice    25.0  25.0
Bob      30.0  30.0
Charlie   0.0   NaN
David    22.0  22.0